$skyblue: #38AEF0;
$left-header: #253141;
$chat-header-border-bottom: #eeeeee;
$current-group-name: #333333;
$current-group-member-name: #999999;

$message-info-who: #434A54;
$message-info-when: #999999;
$message-text: #434A54;
$chat-form: #DDDDDD;

$sells-picture: #2f3e51;
$event-button-font: #fafafa;